@()

@main("webBureaucrat.NET") {
<section id='preview-target'></section>
<template id="template-preview">
  <article class="article-description dark-block">
    <h2 class="h2-title"></h2>
    <p class="description"></p>
    <time class="time-submission"></time>
    <a class="btn-default pull-right" href='#'>Read</a>
  </article>
</template>
<script src='@routes.Assets.versioned("javascripts/target/index.js")'
        type='module'>
</script>
}
