@()(implicit request: RequestHeader)
@main("Login - webBureaucrat.NET"){
<div class="dark-block-wrapper">
  <form action="/login/submit"
        class="dark-block" id="form-login" method="post">
    @helper.CSRF.formField
    <h2>Login</h2>
    <input class="responsive-input"
           id="input-username"
           name="username" placeholder="username" type="text" />
    <br />
    <input class="responsive-input"
           id="input-password"
           name="password" placeholder="password" type="password" />
    <br />
    <input class="btn-primary pull-right" type="submit" value="Log in" />
  </form>
</div>    
<link rel="stylesheet"
      href="@routes.Assets.versioned("stylesheets/login.css")" />
}
