@()(implicit request: RequestHeader)
@main("Compose - webBureacrat.NET"){
<div class="dark-block-wrapper">
  <form action="/write/submit" class="dark-block" id="form-write"
	method="post">
    @helper.CSRF.formField
    <h2>Write</h2>
    <input class="responsive-input" id="input-title" name="title"
	   placeholder="title" type="text" />
    <textarea class="responsive-input" id="input-description"
              name="description"
              placeholder="description" type="text"></textarea>
    <input class="responsive-input" id="input-url" name="url"
           placeholder="relative url" type="text" />
    <textarea class="responsive-input" id="input-content"
              name="content"
              placeholder="content"></textarea>
    <input class="btn-primary pull-right" id="write-submit"
	   name="write-submit" type="submit" value="Submit"/>
  </form>
</div>
}
