:root
{
    --default-outline: #008000;
}

body
{
    margin: 0;
    padding: 0;
}

h1
{
    display:inline;
    font-size:200%;
    margin:0;
}

header
{
    background-color: #222;
    box-shadow: 0 0 15px #000;
    overflow: auto;
    padding: 10px;
}

textarea.responsive-input
{
    resize: vertical;
}

.article-description
{
    margin: 2.5vw;
}

.btn-default
{
    background-color: black;
    border-color: var(--default-outline);
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    color: #0f0;
    padding: 5px;
    text-decoration: none;
}
.btn-primary
{
    background-color: #0f0;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    color: black;
    font-family: "DejaVu Sans Mono", mono;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.clear
{
    clear: both;
}

.dark-block
{
    background-color: #222;
    box-shadow: 0 0 15px #000;
    overflow: auto;
    padding: 10px;
}

.dark-block-wrapper
{
    max-width:100vw;
    padding: 30px;
}

.pull-right
{
    float: right;
}

.responsive-input
{
    background-color: black;
    border-color: #222;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    color: #0f0;
    font-family: "DejaVu Sans Mono", mono;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}


#container
{
    background-color: #666;
    color: #0f0;
    font-family: "DejaVu Sans Mono", mono;
    font-size: 8pt;
    height: 100vh;
    margin: 0;
    overflow: auto;
    padding:0;
}

@media screen and (min-width: 512px)
{
    #container
    {
        font-size: 10pt;
    }
}

@media screen and (min-width: 1024px)
{
    #container
    {
        font-size: 18px;
    }
}

.header-text
{
    display:inline-block;
    margin-left: 20px;
    max-width: 60vw; /* hack to stop text from wrapping under logo */
}

.logo
{
    border-color: var(--default-outline);
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 0 10px #666;
    height: 5em;
    width: 5em;
}

.row
{
    display:inline-block;
}
